.app {
  background: #f3f2ef;
  display: flex;
  flex-direction: column;
}
h2,
p,
h4 {
  margin: 0 !important;
  padding: 0 !important;
}

h2 {
  font-size: 14px;
}
h4 {
  font-size: 13px;
}

p {
  font-size: 12px;
}

.app_body {
  display: flex;

  margin-top: 20px;
}
